.container .filters{
    background-color:white;
    height:70px;
    width: 100%;
    border: 1px solid#DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.container .filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

.container .filters button:hover{
    opacity: 90%;
}

.container .filters .locations,
.container .filters .amenities{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container .filters .locations{
    border-right: 1px solid #DDDDDD;
}

.container .filters h3{
    font-weight: 600;
    margin: 0 40px;
}

.container .filters h4{
    margin: 0 40px;
    font-weight: 400;
    font-size: 14px;
}

.container .filters .popover{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #FAFAFA;
    position: absolute;
    top: 100%;
    width:100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 25px 0px;
    z-index:2;
    display:none;
}

.container .filters .popover li ul{
    margin:0;
    padding:0;
    list-style: none;
}

.container .filters .popover li h2{
    font-size: 16px;
    margin:0 15px;
}

.container .filters .locations:hover .popover,
.container .filters .amenities:hover .popover{
    display: block;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container .filters button{
        font-size: 14px;
        height: 48px;
        width: 20%;
        margin-right: 10px;
        margin-left: 10px;
        flex-grow: 1;
    }

    .container .filters h3{
        font-size: 14px;
        margin: 0 10px;
    }
    
    .container .filters h4{
        margin: 0 10px;
        font-size: 13px;
    }

    .container .filters .locations,
    .container .filters .amenities{
        width: 35%;
    }

    .container .filters .popover li h2{
        font-size: 14px;
        margin: 5px;
    }

    .container .filters .popover{
        padding: 10px 0px;
    }
} 

@media (min-width: 481px) and (max-width: 768px){
    .container .filters button{
        font-size: 16px;
    }

    .container .filters .locations,
    .container .filters .amenities{
        width: 35%;
    }

    .container .filters h3{
        font-size: 16px;
        margin: 0 15px;
    }
    
    .container .filters h4{
        margin: 0 15px;
        font-size: 14px;
    }

    .container .filters .popover li h2{
        font-size: 14px;
        margin: 0 4px 1px 4px;
    }

    .container .filters .popover{
        padding: 10px 0px;
    }
}