.container .places{
    margin-left: 15px;
}

.places-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.container .places h1{
    text-align: left;
    font-size: 30px;
}

.container .places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.container .places article h2{
    font-size: 30px;
    text-align: center;
}

.sub-flex{
    display:flex;
    justify-content: center;
}
